<div>
    <h2>Task Completati</h2>
</div>

<div>
    <!-- se noShow e' true nascondi componente per 2 sec (setTimout) -->
    <ul *ngIf="noShow; else elseBlock1">
        <li id="noShow">Rimozione Task in corso...</li>
    </ul>
</div>

<ng-template #elseBlock1>
    <div id="taskMark" *ngIf="markedList.length > 0; else elseBlock2">
        <p id="pTask" *ngFor="let task of markedList">
            {{task._title}}
            <input type="text" id="inpRemove" (click)="removeMarked(task)" placeholder="X">
        </p>
    </div>
</ng-template>

<ng-template #elseBlock2>
    <div id="taskMark">
        <p id="pTask">Oops non ci sono task...</p>
    </div>
</ng-template>